body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 83%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(153, 86, 131);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 20px); /* Leva em consideração o padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #272727;
    color:rgb(158, 158, 158);
}

button:hover {
    background-color: rgb(73, 73, 73);
    color:#ffffff;

}
